SilverlightJackPot/Service References/JackPotService/JackPotService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="IsWinningCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsWinningCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsWinningCodeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IsWinningCodeSoapIn">
    <wsdl:part name="parameters" element="tns:IsWinningCode" />
  </wsdl:message>
  <wsdl:message name="IsWinningCodeSoapOut">
    <wsdl:part name="parameters" element="tns:IsWinningCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="JackPotServiceSoap">
    <wsdl:operation name="IsWinningCode">
      <wsdl:input message="tns:IsWinningCodeSoapIn" />
      <wsdl:output message="tns:IsWinningCodeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="JackPotServiceSoap" type="tns:JackPotServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsWinningCode">
      <soap:operation soapAction="http://tempuri.org/IsWinningCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="JackPotServiceSoap12" type="tns:JackPotServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsWinningCode">
      <soap12:operation soapAction="http://tempuri.org/IsWinningCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JackPotService">
    <wsdl:port name="JackPotServiceSoap" binding="tns:JackPotServiceSoap">
      <soap:address location="http://localhost:54876/JackPotService.asmx" />
    </wsdl:port>
    <wsdl:port name="JackPotServiceSoap12" binding="tns:JackPotServiceSoap12">
      <soap12:address location="http://localhost:54876/JackPotService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>